parameters:
	ignoreErrors:
		-
			message: '#^Out of 19 possible param types, only 8 \- 42\.1 %% actually have it\. Add more param types to get over 75 %%$#'
			identifier: typeCoverage.paramTypeCoverage
			count: 2
			path: src/Translatable.php

		-
			message: '#^Out of 19 possible param types, only 8 \- 42\.1 %% actually have it\. Add more param types to get over 75 %%$#'
			identifier: typeCoverage.paramTypeCoverage
			count: 4
			path: src/TranslatableFormRequest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 8
			path: tests/TestCase.php

		-
			message: '#^Instanceof between Illuminate\\Database\\Schema\\Builder and Illuminate\\Database\\Schema\\Builder will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/TestCase.php

		-
			message: '#^Out of 19 possible param types, only 8 \- 42\.1 %% actually have it\. Add more param types to get over 75 %%$#'
			identifier: typeCoverage.paramTypeCoverage
			count: 2
			path: tests/TestCase.php

		-
			message: '#^Out of 19 possible param types, only 8 \- 42\.1 %% actually have it\. Add more param types to get over 75 %%$#'
			identifier: typeCoverage.paramTypeCoverage
			count: 3
			path: tests/TestModel.php
